APP_NAME="Bibliothèque Al Hudaiki"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

FRONTEND_URL=http://localhost:3000
SANCTUM_STATEFUL_DOMAINS=localhost:3000

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=al_hudaiki
DB_USERNAME=postgres
DB_PASSWORD=secret

MAIL_MAILER=resend
RESEND_API_KEY=re_xxxxxxxx
MAIL_FROM_ADDRESS="noreply@alhudaiki.ma"
MAIL_FROM_NAME="Bibliothèque Al Hudaiki"
ADMIN_EMAIL=outergamoustafa@gmail.com

CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
CLOUDINARY_UPLOAD_PRESET=al_hudaiki_books

SCOUT_DRIVER=database
QUEUE_CONNECTION=database